/* Dark Grey Background with Centered Text */
body {
  background: linear-gradient(to bottom, #000000, #4B0082);
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

a {
  color: #4aa3df;
  text-decoration: none;
}

a:hover {
  color: #82c4f8;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

h1 {
  font-weight: 600;
}

p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);  /* 5 equal-width columns */
  gap: 20px;
  margin: 30px 0 80px; /* bottom margin adjusted for footer */
  padding: 0 1rem;
}


.image-gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;     /* Make all images square */
  object-fit: cover;       /* Crop and scale to fill */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-gallery img:hover {
  transform: scale(1.1);
}

/* Footer Navigation */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
}

footer a:hover {
  color: #82c4f8;
  text-decoration: underline;
}

/* Lightbox Styles */
#lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Reduced opacity to 0.6 for a more subtle effect */
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  cursor: zoom-out;
}
